
<h3>投稿詳細</h3>
<div class="tweet">
  <p><%= @tweet.body %></p>
  <p><%= @tweet.created_at %></p>
  <% if @tweet.image? %>
    <%= image_tag @tweet.image_url, size: "250x200" %>
  <% end %>
</div>

<%= link_to "投稿一覧に戻る", tweets_path %>
<%= link_to "編集する", edit_tweet_path(@tweet.id) %>
