<!DOCTYPE html>
<html>
  <head>
    <title>Rioriosite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <header>
    <h1>fashion coordinate</h1>
    <div class="header-list">
    <ul>
      <li><%= link_to "ホーム", fashion_index_path %></li>
      <li><%= link_to "検索する", tweets_path %></li>
      <li><%= link_to "投稿する",tweets_new_path %></li>
    </ul>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>© 2023 菅野莉央奈.</p>
  </footer>
</body>
</html>